.voice-changer__container {
}

.voice-changer {
  &__title {
    text-align: center;
    background: linear-gradient(90deg, #a2fffd 0%, #fb71fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    @media (max-width: 768px) {
      padding: 0;
      flex-direction: column;
    }
  }

  &__models {
    width: 30%;
    // margin-right: 20px;
    height: 100%;

    .model-list {
      max-height: 460px;
      padding-right: 20px;
      overflow: hidden;
      overflow-x: hidden;
      overflow-y: auto;
      @media (max-width: 768px) {
        width: 100%;
        height: 300px;
      }
    }

    .model-list::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #4d4c52;
    }
    .model-list::-webkit-scrollbar {
      width: 5px;
      background-color: #f5f5f5;
    }
    .model-list::-webkit-scrollbar-thumb {
      background-color: #f5f5f5;
      // border: 2px solid #f5f5f5;
    }

    @media (max-width: 1200px) {
      width: 40%;
    }

    @media (max-width: 992px) {
      width: 50%;
    }

    @media (max-width: 768px) {
      width: 100%;
      height: 300px;
    }
  }

  &__audio {
    width: 70%;
    height: 100%;

    padding: 0 20px;

    @media (max-width: 1200px) {
      width: 60%;
    }

    @media (max-width: 992px) {
      width: 50%;
    }

    @media (max-width: 768px) {
      width: 100%;
      padding: 0;
      margin-top: 80px;
    }
  }

  &__upload {
    width: 100%;

    &__audioRecorder {

    }

    &--uploadAudio {
      height: 100%;
      .upload-audio {
        height: 100%;
      }

      @media (max-width: 768px) {
        margin-top: 20px;
        height: 300px;
      }
    }
  }
}

.voice-changer__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.voice-changer__input--title {
  margin-bottom: 5px;
}

.audio__output {
  .form-edit-audio {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    // background: #f5f5f5;

    .speed {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 20px;

      &__title {
        width: 40%;
        font-size: 16px;
        @media (max-width: 1200px) {
          font-size: 14px;
          width: 30%;
        }
      }

      &__slider {
        width: 60%;
        @media (max-width: 1200px) {
          width: 70%;
        }
      }

      @media (max-width: 1200px) {
        width: 100%;
      }


    }

    .volume {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 20px;

      &__title {
        width:40%;
        font-size: 16px;
        @media (max-width: 1200px) {
          font-size: 14px;
          width: 30%;
        }
      }

      &__slider {
        width: 60%;
        @media (max-width: 1200px) {
          width: 70%;
        }
      }

      @media (max-width: 1200px) {
        width: 100%;
      }
    }

    .btn-edit-audio {
      width: 20%;
      background-color: #D0B4FD;

      @media (max-width: 1200px) {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
