.create-model__container {
  min-height: 521px;
  max-height: 640px;
}

.create-model {
  &__title {
    text-align: center;
    background: linear-gradient(90deg, #a2fffd 0%, #fb71fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__content {
    padding: 20px;
    display: flex;
    height: 100%;

    @media (max-width: 768px) {
      padding: 0;
      flex-direction: column;
    }
  }

  &__models {
    width: 30%;
    // margin-right: 20px;
    height: 100%;

    @media (max-width: 1200px) {
      width: 40%;
    }

    @media (max-width: 992px) {
      width: 50%;
    }

    @media (max-width: 768px) {
      width: 100%;
      height: 200px;
    }
  }

  &__audio {
    width: 70%;
    height: 100%;
    padding: 0 20px;

    @media (max-width: 1200px) {
      width: 60%;
    }

    @media (max-width: 992px) {
      width: 50%;
    }

    @media (max-width: 768px) {
      width: 100%;
      padding: 0;
      margin-top: 100px;
    }
  }

  &__divider {
    @media (max-width: 768px) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  &__warning-train {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    align-items: center;
    flex-direction: column;

    &-icon {
      font-size: 100px;
      color: #FFCC2A;
    }

    &-text {
      font-size: 28px;
      color: #FFCC2A;
    }
  }
}


.create-model__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-model__input--title {
    margin-bottom: 5px;
}
