.models-is-trainning {
  text-align: center;
  background: linear-gradient(90deg, #a2fffd 0%, #fb71fe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.models-can-use-title {
  text-align: center;
  background: linear-gradient(90deg, #a2fffd 0%, #fb71fe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-model-table-cus {
    background: #fff;
}

.text-warning-train {
  color: rgba(0, 0, 0, 0.88);
  background: #FFFBE6;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #FFF;
}
