p {
  margin: 0;
}

.text-to-speech__container {
}

.text-to-speech {
  &__title {
    text-align: center;
    background: linear-gradient(90deg, #a2fffd 0%, #fb71fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__content {
    padding: 20px;
    display: flex;
    align-items: stretch;
    height: 100%;
  }

  &__models {
    width: 30%;
    margin-right: 20px;
    height: 100%;
  }

  &__audio {
    width: 70%;
    height: 100%;
  }
}

.text-to-speech__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-to-speech__input--title {
  color: #fff;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin-right: 30px;
  }
}
