.history {
  &-title {
    text-align: center;
    background: linear-gradient(90deg, #a2fffd 0%, #fb71fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .ant-pagination-item-link {
    color: #fff !important;
  }

  .ant-empty-description {
    color: #fff !important;
  }
}
