.audio-recorder {
  &__title {
    text-align: center;
    background: linear-gradient(90deg, #a2fffd 0%, #fb71fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    margin-top: 1rem;

    @media screen and (max-width: 768px) {
      margin-top: 0;
    }
  }

  &__btn-record {
    color: #000;
    background: #fff;
  }

  &__txt-progress {
    color: #fff;
    font-size: 18px;
  }

  &__select-mic {
    width: 60%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__waveform {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 1rem;
    background-color: #f5f5f5;
  }
}
